In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
path = "./Normalized/"
filename = "sólidos.csv"
df = pd.read_csv(path + filename, encoding='utf8')
df.head()

  ENTIDADE        DATA sólidos
0       P1  2013-01-22     NaN
1       Pb  2013-01-22     NaN
2       Pc  2013-01-22     NaN
3       Pd  2013-01-22     NaN
4       P2  2013-01-22     NaN

In [8]:
df.sólidos = df.sólidos.map(lambda x: str(x).replace("*", ""))

0        nan
1        nan
2        nan
3        nan
4        nan
        ...
1291     9.8
1292     4.2
1293    89.5
1294     3.3
1295     nan
Name: sólidos, Length: 1296, dtype: object