In [1]:
import numpy as np 
import pandas as pd 
from os import listdir
from shutil import copy2 

# Pandas setup
pd.set_option('display.max_columns', 1000)
pd.set_option('display.max_rows', 1000) 
pd.set_option('display.max_colwidth', -1)

In [2]:
path = "./Tidy/"
archives = sorted(listdir(path))
archives

['Cor_verdadeira.csv',
 'DBO.csv',
 'DQO.csv',
 'acidez.csv',
 'alcalinidade.csv',
 'coliformes.csv',
 'compostagem.csv',
 'fosforo.csv',
 'leito_de_secagem.csv',
 'nitrogênio.csv',
 'pH.csv',
 'ptel.csv',
 'surfactantes.csv',
 'sólidos.csv',
 'toda_consema.csv',
 'toda_consema_2.csv',
 'toda_consema_P7.csv',
 'óleos.csv']

In [34]:
archives[7]

'fosforo.csv'

In [35]:
name = archives[7].split(".")[0]

df = pd.read_csv(path + name + ".csv", encoding='utf8')
columns = df.columns
new_columns = [x.split()[0] for x in columns] 
df.columns = new_columns
# df.drop(columns=["OBSERVAÇÕES", "LABORATÓRIO"], inplace=True)
# df.rename(columns={"PORCENTAGEM": "PORCENTAGEM_SÓLIDOS", "SÓLIDOS": "SÓLIDOS_VOLÁTEIS"}, inplace=True)
# df["ENTIDADE"] = ""
df.head()

         DATA   P1   P2 ANAL.                OBSERVAÇÕES  P7
0  2013-01-22  1.0  3.1  X     NaN                       NaN
1  2013-02-05  1.7  2.6  X     NaN                       NaN
2  2013-03-12  2.4  5.9  x     NaN                       NaN
3  2013-05-14  7.1  7.3  x     Coleta realizada em 15/05 NaN
4  2013-06-11  5.9  6.1  x     NaN                       NaN

In [23]:
# transposed = df.T
# transposed = transposed.reset_index()
# transposed.columns = transposed.values[0]
# transposed.rename(columns={"DATA": "ENTIDADE"}, inplace=True)
# transposed.drop(axis=0, index=[0], inplace=True)
# transposed = transposed.melt(id_vars=['ENTIDADE'])
# transposed.rename(columns={"variable": "DATA", "value": name}, inplace=True)
# df = transposed
# df.head()

  ENTIDADE        DATA coliformes
0  P1       2013-01-07  241960
1  P2       2013-01-07  29090
2  P3       2013-01-07  23590
3  P4       2013-01-07  198630
4  P5       2013-01-07  100

In [33]:
df.to_csv(f"./Normalized/{name}.csv", encoding='utf8', index=False)
copy2("explorer.ipynb", f"./Normlogs/{name}.ipynb")

'./Normlogs/compostagem.ipynb'