In [1]:
import numpy as np 
import pandas as pd 
from os import listdir
from shutil import copy2 


# Pandas setup
pd.set_option('display.max_columns', 1000)
pd.set_option('display.max_rows', 1000) 
pd.set_option('display.max_colwidth', -1)

In [2]:
path = "./Dataset/"
word = "acidez"
archives = listdir(path) 

matches = [value for value in archives if word in value]
matches = sorted(matches)
matches

['acidez_2013.csv',
 'acidez_2014.csv',
 'acidez_2015.csv',
 'acidez_2016.csv',
 'acidez_2017.csv',
 'acidez_2018.csv',
 'acidez_2019.csv']

In [4]:
df = pd.DataFrame()
for i in range(0, len(matches) - 1):
    df_1 = pd.read_csv(path + matches[i], encoding='utf8')
    df_2 = pd.read_csv(path + matches[i + 1], encoding='utf8')
    partial = df_1.append(df_2)
    df = df.append(partial)

In [5]:
df

8   NaN
9   NaN
10  NaN
11  NaN
0   NaN
1   O lodo não veio em fevereiro pois a bomba helicoidal está fora de serviço, a GSMI já está arrumando.
2   O lodo não veio em março pois a bomba helicoidal ainda está fora de serviço, a bomba para substituição foi liberada com atraso.
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
9   NaN
10  NaN
11  NaN
0   NaN
1   O lodo não veio em fevereiro pois a bomba helicoidal está fora de serviço, a GSMI já está arrumando.
2   O lodo não veio em março pois a bomba helicoidal ainda está fora de serviço, a bomba para substituição foi liberada com atraso.
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
9   NaN
10  NaN
11  NaN
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
9   NaN
10  NaN
11  NaN
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
9   NaN
10  NaN
11  NaN
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
9   NaN
10  NaN
11  NaN
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
9   NaN
10  NaN
11  NaN
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
9   NaN
10  NaN
11  NaN

In [45]:
df.to_csv(f"./Merged/{word}.csv", encoding='utf8', index=False)
copy2("cleaner.ipynb", f"./Logs/{word}.ipynb")

'./Logs/acidez.ipynb'