In [1]:
import numpy as np 
import pandas as pd 
from os import listdir
from shutil import copy2 


# Pandas setup
pd.set_option('display.max_columns', 1000)
pd.set_option('display.max_rows', 1000) 
pd.set_option('display.max_colwidth', -1)

In [14]:
path = "./Dataset/"
word = "coliformes"
archives = listdir(path) 

matches = [value for value in archives if word in value]
matches = sorted(matches)
matches

['coliformes_2013.csv',
 'coliformes_2014.csv',
 'coliformes_2015.csv',
 'coliformes_2016.csv',
 'coliformes_2017.csv',
 'coliformes_2018.csv',
 'coliformes_2019.csv']

In [15]:
df = pd.DataFrame()
for i in range(0, len(matches) - 1):
    df_1 = pd.read_csv(path + matches[i], encoding='utf8')
    df_2 = pd.read_csv(path + matches[i + 1], encoding='utf8')
    partial = df_1.append(df_2)
    df = df.append(partial)

In [16]:
df

6   189000              x
7   5200                x
8   2280                x
9   16900               x
10  8600                x
11  1000                x
0   1162000             x
1   20460               x
2   93300               x
3   77100               x
4   16070               x
5   9800                x
6   2000                x
7   214300              x
8   27500               x
9   18900               x
10  275500              x
11  3700000             x
0   1162000             x
1   20460               x
2   93300               x
3   77100               x
4   16070               x
5   9800                x
6   2000                x
7   214300              x
8   27500               x
9   18900               x
10  275500              x
11  3700000             x
0   2000                NaN
1   1100                NaN
2   330                 NaN
3   220                 NaN
4   170                 NaN
5   3500                NaN
6   1300                NaN
7   790                 NaN
8   330                 NaN
9   490                 NaN
10  460                 NaN
11  320                 NaN
0   2000                NaN
1   1100                NaN
2   330                 NaN
3   220                 NaN
4   170                 NaN
5   3500                NaN
6   1300                NaN
7   790                 NaN
8   330                 NaN
9   490                 NaN
10  460                 NaN
11  320                 NaN
0   130                 NaN
1   170                 NaN
2   210                 NaN
3   320                 NaN
4   700                 NaN
5   1300                NaN
6   1100                NaN
7   1300                NaN
8   1100                NaN
9   790                 NaN
10  940                 NaN
11  1100                NaN
0   130                 NaN
1   170                 NaN
2   210                 NaN
3   320                 NaN
4   700                 NaN
5   1300                NaN
6   1100                NaN
7   1300                NaN
8   1100                NaN
9   790                 NaN
10  940                 NaN
11  1100                NaN
0   220.00000000000003  NaN
1   2000                NaN
2   390                 NaN
3   270                 NaN
4   490                 NaN
5   240000              NaN
6   490                 NaN
7   330                 NaN
8   20                  NaN
9   20                  NaN
10  130                 NaN
11  < 1,8               NaN
0   220.00000000000003  NaN
1   2000                NaN
2   390                 NaN
3   270                 NaN
4   490                 NaN
5   240000              NaN
6   490                 NaN
7   330                 NaN
8   20                  NaN
9   20                  NaN
10  130                 NaN
11  < 1,8               NaN
0   2400                NaN
1   210                 NaN
2   330                 NaN
3   170                 NaN
4   490                 NaN
5   34                  NaN
6   340                 NaN
7   1300                NaN
8   9200                NaN
9   210                 NaN
10  490                 NaN
11  490                 NaN

                                                                                          OBSERVAÇÕES
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
9   NaN
10  Conforme a Declaração ALAC de 13/nov, não houve coleta de efluente no P2 devido a falta de vazão.
11  NaN
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   No mês de julho o Lab. de ALAC não realizou coleta no P2. justificativa consta no laudo emitido.
7   NaN
8   NaN
9   Coleta realizada em 20/10/14
10  NaN
11  NaN
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   No mês de julho o Lab. de ALAC não realizou coleta no P2. justificativa consta no laudo emitido.
7   NaN
8   NaN
9   Coleta realizada em 20/10/14
10  NaN
11  NaN
0   NaN
1   NaN
2   CBR estava paralizado neste dia. Amostragem do ponto de saída realizada no P6.
3   CBR estava paralizado neste dia. Amostragem do ponto de saída realizada no P6.
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
9   NaN
10  NaN
11  NaN
0   NaN
1   NaN
2   CBR estava paralizado neste dia. Amostragem do ponto de saída realizada no P6.
3   CBR estava paralizado neste dia. Amostragem do ponto de saída realizada no P6.
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
9   NaN
10  NaN
11  NaN
0   NaN
1   Coleta realizada no P6.
2   NaN
3   NaN
4   Coleta realizada no P6.
5   NaN
6   NaN
7   NaN
8   NaN
9   NaN
10  NaN
11  NaN
0   NaN
1   Coleta realizada no P6.
2   NaN
3   NaN
4   Coleta realizada no P6.
5   NaN
6   NaN
7   NaN
8   NaN
9   NaN
10  NaN
11  NaN
0   NaN
1   NaN
2   Coleta foi realizada no P6. CBR em manutenção.
3   Coleta foi realizada no P6. CBR em manutenção.
4   Coleta foi realizada no P6. CBR em manutenção.
5   Coleta foi realizada no P6. CBR em manutenção.
6   NaN
7   Coleta foi realizada no P6. CBR em manutenção.
8   NaN
9   NaN
10  NaN
11  Coleta foi realizada no P6. CBR em manutenção.
0   NaN
1   NaN
2   Coleta foi realizada no P6. CBR em manutenção.
3   Coleta foi realizada no P6. CBR em manutenção.
4   Coleta foi realizada no P6. CBR em manutenção.
5   Coleta foi realizada no P6. CBR em manutenção.
6   NaN
7   Coleta foi realizada no P6. CBR em manutenção.
8   NaN
9   NaN
10  NaN
11  Coleta foi realizada no P6. CBR em manutenção.
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
9   NaN
10  NaN
11  NaN
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
9   NaN
10  NaN
11  NaN
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
9   NaN
10  NaN
11  NaN

In [17]:
df.to_csv(f"./Merged/{word}.csv", encoding='utf8', index=False)
copy2("cleaner.ipynb", f"./Logs/{word}.ipynb")

'./Logs/coliformes.ipynb'