In [1]:
import numpy as np 
import pandas as pd 
from os import listdir
from shutil import copy2 


# Pandas setup
pd.set_option('display.max_columns', 1000)
pd.set_option('display.max_rows', 1000) 
pd.set_option('display.max_colwidth', -1)

In [2]:
path = "./Dataset/"
word = "Cor_verdadeira"
archives = listdir(path) 

matches = [value for value in archives if word in value]
matches = sorted(matches)
matches

['Cor_verdadeira_2013.csv',
 'Cor_verdadeira_2014.csv',
 'Cor_verdadeira_2015.csv',
 'Cor_verdadeira_2016.csv',
 'Cor_verdadeira_2017.csv',
 'Cor_verdadeira_2018.csv',
 'Cor_verdadeira_2019.csv']

In [9]:
df = pd.DataFrame()
for i in range(0, len(matches) - 1):
    df_1 = pd.read_csv(path + matches[i], encoding='utf8')
    df_2 = pd.read_csv(path + matches[i + 1], encoding='utf8')
    partial = df_1.append(df_2)
    df = df.append(partial)

In [10]:
df

            NaN
11 NaN                             NaN
0  NaN                             NaN
1  NaN                             NaN
2  NaN                             NaN
3  NaN                             NaN
4  NaN                             NaN
5  NaN                             NaN
6  NaN                             NaN
7  NaN                             NaN
8  NaN                             NaN
9  NaN                             NaN
10 NaN                             NaN
11 NaN                             NaN
0  NaN                             NaN
1  NaN                             NaN
2  NaN                             NaN
3  NaN                             NaN
4  NaN                             NaN
5  NaN                             NaN
6  NaN                             NaN
7  NaN                             NaN
8  NaN                             NaN
9  NaN                             NaN
10 NaN                             NaN
11 NaN                             NaN
0  NaN                             NaN
1  NaN                             NaN
2  NaN                             NaN
3  NaN                             NaN
4  NaN                             NaN
5  NaN                             NaN
6  NaN                             NaN
7  NaN                             NaN
8  NaN                             NaN
9  NaN                             NaN
10 NaN                             NaN
11 NaN                             NaN
0  NaN                             NaN
1  NaN                             NaN
2  NaN                             NaN
3  NaN                             NaN
4  NaN                             NaN
5  NaN                             NaN
6  NaN                             NaN
7  NaN                             NaN
8  NaN                             NaN
9  NaN                             NaN
10 NaN                             NaN
11 NaN                             NaN
0  NaN                             NaN
1  NaN                             NaN
2  NaN                             NaN
3  NaN                             NaN
4  NaN                             NaN
5  NaN                             NaN
6  NaN                             NaN
7  NaN                             NaN
8  NaN                             NaN
9  NaN                             NaN
10 NaN                             NaN
11 NaN                             NaN

                                                                                                     OBSERVAÇÕES
0   NaN
1   William - ALAC apresentou justificativa pela não apresentação de relatório do P3 neste dia. - em 16/04/13
2   William - ALAC justificou por e-mail a não apresentação de relatório nos 3 pts. para este dia. - em 06/05/13
3   Jeverton - ALAC justificou que o valor do P1 para este dia está correto. - Em 03/05
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
9   NaN
10  Conforme a Declaração ALAC de 13/nov, não houve coleta de efluente no P2 devido a falta de vazão.
11  NaN
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   Devido à parada no CBR não houve coleta no P2
7   NaN
8   NaN
9   NaN
10  NaN
11  NaN
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   Devido à parada no CBR não houve coleta no P2
7   NaN
8   NaN
9   NaN
10  NaN
11  NaN
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
9   NaN
10  NaN
11  NaN
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
9   NaN
10  NaN
11  NaN
0   NaN
1   Coleta realizada no P6
2   NaN
3   NaN
4   Coleta realizada no P6
5   NaN
6   NaN
7   NaN
8   NaN
9   NaN
10  NaN
11  NaN
0   NaN
1   Coleta realizada no P6
2   NaN
3   NaN
4   Coleta realizada no P6
5   NaN
6   NaN
7   NaN
8   NaN
9   NaN
10  NaN
11  NaN
0   NaN
1   NaN
2   A coleta neste dia foi realizado no P6, o CBR estava em manutenção.
3   A coleta neste dia foi realizado no P6, o CBR estava em manutenção.
4   A coleta neste dia foi realizado no P6, o CBR estava em manutenção.
5   NaN
6   NaN
7   A coleta neste dia foi realizado no P6, o CBR estava em manutenção.
8   NaN
9   NaN
10  NaN
11  NaN
0   NaN
1   NaN
2   A coleta neste dia foi realizado no P6, o CBR estava em manutenção.
3   A coleta neste dia foi realizado no P6, o CBR estava em manutenção.
4   A coleta neste dia foi realizado no P6, o CBR estava em manutenção.
5   NaN
6   NaN
7   A coleta neste dia foi realizado no P6, o CBR estava em manutenção.
8   NaN
9   NaN
10  NaN
11  NaN
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
9   NaN
10  NaN
11  NaN
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
9   NaN
10  NaN
11  NaN
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
9   NaN
10  NaN
11  NaN

In [11]:
df.to_csv(f"./Merged/{word}.csv", encoding='utf8', index=False)
copy2("cleaner.ipynb", f"./Logs/{word}.ipynb")

'./Logs/Cor_verdadeira.ipynb'