In [1]:
import numpy as np 
import pandas as pd 
from os import listdir
from shutil import copy2 


# Pandas setup
pd.set_option('display.max_columns', 1000)
pd.set_option('display.max_rows', 1000) 
pd.set_option('display.max_colwidth', -1)

In [7]:
path = "./Dataset/"
word = "leito_de_secagem"
archives = listdir(path) 

matches = [value for value in archives if word in value]
matches = sorted(matches)
matches

['leito_de_secagem_2013.csv',
 'leito_de_secagem_2014.csv',
 'leito_de_secagem_2015.csv',
 'leito_de_secagem_2016.csv',
 'leito_de_secagem_2017.csv',
 'leito_de_secagem_2018.csv',
 'leito_de_secagem_2019.csv']

In [11]:
df = pd.DataFrame()
for i in range(0, len(matches) - 1):
    df_1 = pd.read_csv(path + matches[i], encoding='utf8')
    df_2 = pd.read_csv(path + matches[i + 1], encoding='utf8')
    partial = df_1.append(df_2)
    df = df.append(partial)

df

,DATA DA COLETA,UMIDADE % p/p,ALUMÍNIO (mg/kg),COBRE (mg/kg),CROMO (mg/kg),MANGANÊS (mg/kg),NÍQUEL (mg/kg),LABORATÓRIO ALAC,OBSERVAÇÕES,PORCENTAGEM DE SÓLIDOS % p/p,SÓLIDOS VOLÁTEIS % p/p,LABORATÓRIO BIOAGRI,COMPOSTOS ORGÂNICOS VOLÁTEIS (µg/kg)
0,2013-02-05,22.70,16994.000,249.000,0.100,44.200,17.200,x,NaN,NaN,NaN,NaN,NaN
1,2013-05-07,71.20,2109.000,39.400,9.440,62.100,7.420,x,NaN,NaN,NaN,NaN,NaN
2,2013-08-06,74.80,8759.000,230.000,35.800,138.000,75.700,x,NaN,NaN,NaN,NaN,NaN
3,2013-11-05,76.30,1176.000,5104.000,3.040,4.910,22.400,x,NaN,NaN,NaN,NaN,NaN
0,2014-02-05,63.80,1945.000,32.100,11.700,16.000,5.040,x,NaN,NaN,NaN,NaN,NaN
1,2014-05-05,86.40,889.000,25.500,5.740,39.500,6.520,x,NaN,NaN,NaN,NaN,NaN
2,2014-08-06,64.80,224.000,2.180,1.550,1.450,0.989,x,NaN,NaN,NaN,NaN,NaN
3,2014-11-05,66.90,1236.000,82.600,8.680,30.600,6.390,x,NaN,NaN,NaN,NaN,NaN
0,2014-02-05,63.80,1945.000,32.100,11.700,16.000,5.040,x,NaN,NaN,NaN,NaN,NaN
1,2014-05-05,86.40,889.000,25.500,5.740,39.500,6.520,x,NaN,NaN,NaN,NaN,NaN
2,2014-08-06,64.80,224.000,2.180,1.550,1.450,0.989,x,NaN,NaN,NaN,NaN,NaN
3,2014-11-05,66.90,1236.000,82.600,8.680,30.600,6.390,x,NaN,NaN,NaN,NaN,NaN
0,2015-01-16,94.50,6270.000,191.000,16.000,234.000,23.000,NaN,NaN,5.0,3.0,x,NaN
1,2015-04-08,60.50,5100.000,82.900,18.800,81.000,12.100,NaN,NaN,39.5,20.6,x,NaN
2,2015-07-09,59.20,4250.000,87.500,17.500,17.000,3.500,NaN,NaN,40.8,18.8,x,NaN
3,2015-10-09,43.80,5340.000,102.000,31.700,46.700,6.840,NaN,NaN,56.2,30.8,NaN,NaN
0,2015-01-16,94.50,6270.000,191.000,16.000,234.000,23.000,NaN,NaN,5.0,3.0,x,NaN
1,2015-04-08,60.50,5100.000,82.900,18.800,81.000,12.100,NaN,NaN,39.5,20.6,x,NaN
2,2015-07-09,59.20,4250.000,87.500,17.500,17.000,3.500,NaN,NaN,40.8,18.8,x,NaN
3,2015-10-09,43.80,5340.000,102.000,31.700,46.700,6.840,NaN,NaN,56.2,30.8,NaN,NaN
0,2016-01-07,67.00,14068.000,221.400,19.100,165.800,27.100,NaN,NaN,NaN,NaN,NaN,2
1,2016-04-07,37.80,10555.300,184.500,30.000,44.100,15.000,NaN,NaN,NaN,NaN,NaN,2
2,2016-07-07,50.20,22094.800,155.300,26.000,167.900,21.200,NaN,NaN,NaN,NaN,NaN,2
3,2016-10-06,71.00,3534.700,10.810,9.880,37.400,8.500,NaN,NaN,NaN,NaN,NaN,2
0,2016-01-07,67.00,14068.000,221.400,19.100,165.800,27.100,NaN,NaN,NaN,NaN,NaN,2
1,2016-04-07,37.80,10555.300,184.500,30.000,44.100,15.000,NaN,NaN,NaN,NaN,NaN,2
2,2016-07-07,50.20,22094.800,155.300,26.000,167.900,21.200,NaN,NaN,NaN,NaN,NaN,2
3,2016-10-06,71.00,3534.700,10.810,9.880,37.400,8.500,NaN,NaN,NaN,NaN,NaN,2
0,2017-01-12,59.70,12533.400,182.100,21.800,48.700,13.200,NaN,NaN,NaN,NaN,NaN,2
1,2017-04-06,62.60,77.900,170.300,28.600,209.500,27.100,NaN,NaN,NaN,NaN,NaN,2
2,2017-07-13,84.00,26438.000,160.000,37.900,77.800,16.400,NaN,NaN,NaN,NaN,NaN,99.04
3,2017-10-05,78.20,16927.000,166.000,33.700,39.100,16.600,NaN,NaN,NaN,NaN,NaN,2
0,2017-01-12,59.70,12533.400,182.100,21.800,48.700,13.200,NaN,NaN,NaN,NaN,NaN,2
1,2017-04-06,62.60,77.900,170.300,28.600,209.500,27.100,NaN,NaN,NaN,NaN,NaN,2
2,2017-07-13,84.00,26438.000,160.000,37.900,77.800,16.400,NaN,NaN,NaN,NaN,NaN,99.04
3,2017-10-05,78.20,16927.000,166.000,33.700,39.100,16.600,NaN,NaN,NaN,NaN,NaN,2
0,2018-01-11,55.61,12458.167,227.092,23.108,212.151,28.685,NaN,NaN,NaN,NaN,NaN,40.8
1,2018-04-19,73.55,16513.395,244.902,31.387,116.553,19.792,NaN,NaN,NaN,NaN,NaN,<2
2,2018-07-12,62.12,11547.431,193.478,25.099,258.103,26.285,NaN,NaN,NaN,NaN,NaN,<2
3,2018-10-11,37.64,9870.550,349.691,36.321,546.754,41.731,NaN,NaN,NaN,NaN,NaN,<2
0,2018-01-11,55.61,12458.167,227.092,23.108,212.151,28.685,NaN,NaN,NaN,NaN,NaN,40.8
1,2018-04-19,73.55,16513.395,244.902,31.387,116.553,19.792,NaN,NaN,NaN,NaN,NaN,<2
2,2018-07-12,62.12,11547.431,193.478,25.099,258.103,26.285,NaN,NaN,NaN,NaN,NaN,<2
3,2018-10-11,37.64,9870.550,349.691,36.321,546.754,41.731,NaN,NaN,NaN,NaN,NaN,<2
0,2019-01-10,24.74,13544.629,136.058,22.907,109.795,14.021,NaN,NaN,NaN,NaN,NaN,40.2
1,2019-04-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,*Não houve coleta de amostra - Leito de secagem em manutenção,NaN,NaN,NaN,NaN
2,2019-07-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-10-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df.to_csv(f"./Merged/{word}.csv", encoding='utf8', index=False)
copy2("cleaner.ipynb", f"./Logs/{word}.ipynb")

'./Logs/leito_de_secagem.ipynb'