In [1082]:
import pandas as pd 
from shutil import copy2

In [969]:
# Pandas setup
pd.set_option('display.max_columns', 1000)
pd.set_option('display.max_rows', 1000) 
pd.set_option('display.max_colwidth', -1)

In [970]:
# Custom NA dictionary
null_dict = ["", "#N/A", "#N/A N/A", "#NA", "-1.#IND", "-1.#QNAN", "-NaN", "-nan", "1.#IND", "1.#QNAN", "<NA>", "N/A", "NA", "NULL", "NaN", "n/a", "nan", "null", "*", "**", "n.d.", "-", "#DIV/0!", "#DIV/0", " ", "\xad", "n.d", "ND", "N.D.", "N.D"]

In [1118]:
# Read file
filename = 'F10 Monitoramento da ETE Unisinos 2016'
field = "PTEL"
xls = pd.ExcelFile(f'./Modified/{filename}.xls')
df = pd.read_excel(xls, field, header=2, usecols="A:I", skipfooter=18, na_values=null_dict)

# Clean data
aux = df.T.reset_index()
colnames = aux.iloc[0, :].tolist()
aux.columns = colnames
aux.drop(labels=[0, 1], axis=0, inplace=True)
#aux.drop(aux.tail(0).index, inplace=True)
df = aux
# name = df.iloc[0,0]
# rename = [name for value in df[df.columns[0]].values]
# df[df.columns[0]] = rename
#df['Data'] = df['Data'].astype('datetime64')

df

,Parâmetros,Data,Alumínio Total,Cobre Total,Cromo Total,Manganês Total,Prata Total
2,ANAMB,2016-02-01 00:00:00,3.286,0.132,"<0,009",0.23,0.01
3,itt Nutrifor,2016-03-01 00:00:00,5.93,0.174,0.16,2.26,0.65
4,QUÍMICA,2016-04-01 00:00:00,17.7,0.1,2.91,0.05,0.12
5,SANEAMB,2016-05-01 00:00:00,2.13,0.167,0.036,0.092,0.05
6,QUÍMICA.1,2016-08-01 00:00:00,2.05,0.4,0.64,0.01,0.01
7,itt Fuse,2016-11-01 00:00:00,7.246,15.84,0.446,"<0,010",0.164
8,SANEAMB.1,2016-11-01 00:00:00,1.15,0.38,"<0,009",1.965,"<0,010"

In [1110]:
field = field.replace(" ", "_")
field = field.lower()
year = filename.split()[-1:][0].split(".")[0]
df.to_csv(f"./Dataset/{field}_{year}.csv", encoding='utf8', index=False)
copy2("extractor.ipynb", f"./Logs/{field}_{year}.ipynb")

'./Logs/ptel_2016.ipynb'