In [1]:
import numpy as np 
import pandas as pd 
from os import listdir
from shutil import copy2 

# Pandas setup
pd.set_option('display.max_columns', 1000)
pd.set_option('display.max_rows', 1000) 
pd.set_option('display.max_colwidth', -1)

In [2]:
path = "./Dataset/"
word = "ptel"
archives = listdir(path) 

matches = [value for value in archives if word in value]
matches = sorted(matches)
matches

['ptel_2013.csv',
 'ptel_2014.csv',
 'ptel_2015.csv',
 'ptel_2016.csv',
 'ptel_2017.csv',
 'ptel_2018.csv',
 'ptel_2019.csv']

In [4]:
df = pd.DataFrame()
for i in range(0, len(matches) - 1):
    df_1 = pd.read_csv(path + matches[i], encoding='utf8')
    df_2 = pd.read_csv(path + matches[i + 1], encoding='utf8')
    partial = df_1.append(df_2)
    df = df.append(partial)

df

,Parâmetros,Data,Alumínio Total,Cobre Total,Cromo Total,Manganês Total,Prata Total
0,ANAMB,2013-02-05 00:00:00,2.040,0.107,3.38,0.179,0.064
1,SANEAMB,2013-04-03 00:00:00,0.710,0.027,0.077,1.06,0.004
2,SANEAMB.1,2013-05-08 00:00:00,3.930,0.078,4.03,14.6,0.055
3,ANAMB.1,2013-07-03 00:00:00,5.590,0.138,0.234,5.7,0.042
4,ITT FOSSIL,2013-08-05 00:00:00,6.290,0.009,0.026,0.677,0.015
0,itt Fossil,2014-03-01 00:00:00,26.100,0.046,0.043,1.89,0.017
1,ANAMBI,2014-07-05 00:00:00,0.045,0.056,0.097,0.96,0.094
2,itt Fossil / NUCMAT*,2014-10-01 00:00:00,1.980,0.031,0.748,0.241,NaN
0,itt Fossil,2014-03-01 00:00:00,26.100,0.046,0.043,1.89,0.017
1,ANAMBI,2014-07-05 00:00:00,0.045,0.056,0.097,0.96,0.094
2,itt Fossil / NUCMAT*,2014-10-01 00:00:00,1.980,0.031,0.748,0.241,NaN
0,LCVMat,2015-01-01 00:00:00,860.000,50.000,80,70,30
1,ANAMB,2015-06-01 00:00:00,60.000,40.000,30,12200,< 10
2,QUÍMICA (Bruto) ENTRADA-PTEL interna,2015-07-01 00:00:00,34500.000,65800.000,43600,7920,< 10
3,QUÍMICA (Tratado)\nSAÍDA-PTEL interna,2015-07-01 00:00:00,190.000,690.000,80,20,10
4,MEFIS,2015-09-01 00:00:00,3680.000,NaN,120,790,< 10
5,ANAMB.1,2015-10-01 00:00:00,3080.000,280.000,20,1270,30
6,SANEAMB,2015-11-01 00:00:00,2210.000,NaN,26.8,760,NaN
0,LCVMat,2015-01-01 00:00:00,860.000,50.000,80,70,30
1,ANAMB,2015-06-01 00:00:00,60.000,40.000,30,12200,< 10
2,QUÍMICA (Bruto) ENTRADA-PTEL interna,2015-07-01 00:00:00,34500.000,65800.000,43600,7920,< 10
3,QUÍMICA (Tratado)\nSAÍDA-PTEL interna,2015-07-01 00:00:00,190.000,690.000,80,20,10
4,MEFIS,2015-09-01 00:00:00,3680.000,NaN,120,790,< 10
5,ANAMB.1,2015-10-01 00:00:00,3080.000,280.000,20,1270,30
6,SANEAMB,2015-11-01 00:00:00,2210.000,NaN,26.8,760,NaN
0,ANAMB,2016-02-01 00:00:00,3.286,0.132,"<0,009",0.23,0.01
1,itt Nutrifor,2016-03-01 00:00:00,5.930,0.174,0.16,2.26,0.65
2,QUÍMICA,2016-04-01 00:00:00,17.700,0.100,2.91,0.05,0.12
3,SANEAMB,2016-05-01 00:00:00,2.130,0.167,0.036,0.092,0.05
4,QUÍMICA.1,2016-08-01 00:00:00,2.050,0.400,0.64,0.01,0.01
5,itt Fuse,2016-11-01 00:00:00,7.246,15.840,0.446,"<0,010",0.164
6,SANEAMB.1,2016-11-01 00:00:00,1.150,0.380,"<0,009",1.965,"<0,010"
0,ANAMB,2016-02-01 00:00:00,3.286,0.132,"<0,009",0.23,0.01
1,itt Nutrifor,2016-03-01 00:00:00,5.930,0.174,0.16,2.26,0.65
2,QUÍMICA,2016-04-01 00:00:00,17.700,0.100,2.91,0.05,0.12
3,SANEAMB,2016-05-01 00:00:00,2.130,0.167,0.036,0.092,0.05
4,QUÍMICA.1,2016-08-01 00:00:00,2.050,0.400,0.64,0.01,0.01
5,itt Fuse,2016-11-01 00:00:00,7.246,15.840,0.446,"<0,010",0.164
6,SANEAMB.1,2016-11-01 00:00:00,1.150,0.380,"<0,009",1.965,"<0,010"
0,LCM,2017-02-01,3.280,2.160,3.56,1.3,0.672
1,SANEAMB,2017-05-01,9.830,0.285,0.81,0.93,0.01
2,ANAMB,2017-07-01,0.720,0.179,0.009,0.323,0.01
0,LCM,2017-02-01,3.280,2.160,3.56,1.3,0.672
1,SANEAMB,2017-05-01,9.830,0.285,0.81,0.93,0.01
2,ANAMB,2017-07-01,0.720,0.179,0.009,0.323,0.01
0,Lab. Quimica e Farmácia,2018-03-01 00:00:00,0.950,83.900,0.14,"< 0,01","< 0,01"
1,Lab,xx/2018,NaN,NaN,NaN,NaN,NaN
2,Lab.1,xx/2018,NaN,NaN,NaN,NaN,NaN
0,Lab. Quimica e Farmácia,2018-03-01 00:00:00,0.950,83.900,0.14,"< 0,01","< 0,01"
1,Lab,xx/2018,NaN,NaN,NaN,NaN,NaN
2,Lab.1,xx/2018,NaN,NaN,NaN,NaN,NaN
0,LAB. ANÁLISE AMBIENTAL,2019-03-11,3.059,0.134,0.292,11.27,0.01
1,LAB. HISTOLOGIA,2019-03-11,4.143,0.829,0.3,0.166,0.01
2,LAB. LCVMAT,2019-03-11,2.295,0.069,0.138,1.392,0.01
3,LAB. ANÁLISE AMBIENTAL.1,2019-07-01,2.673,0.077,0.099,0.036,NaN
4,LAB. LCVMAT.1,2019-07-01,1.030,2.591,NaN,0.05,NaN
5,LAB. QUIMICA,2019-07-01,7.905,1.285,3.405,3.755,NaN
6,LAB. QUIMICA.1,2019-12-01,0.682,0.870,0.26,1.026,NaN

In [6]:
df.to_csv(f"./Merged/{word}.csv", encoding='utf8', index=False)
copy2("cleaner.ipynb", f"./Logs/{word}.ipynb")

'./Logs/pH.ipynb'