In [1082]:
import pandas as pd 
from shutil import copy2

In [969]:
# Pandas setup
pd.set_option('display.max_columns', 1000)
pd.set_option('display.max_rows', 1000) 
pd.set_option('display.max_colwidth', -1)

In [970]:
# Custom NA dictionary
null_dict = ["", "#N/A", "#N/A N/A", "#NA", "-1.#IND", "-1.#QNAN", "-NaN", "-nan", "1.#IND", "1.#QNAN", "<NA>", "N/A", "NA", "NULL", "NaN", "n/a", "nan", "null", "*", "**", "n.d.", "-", "#DIV/0!", "#DIV/0", " ", "\xad", "n.d", "ND", "N.D.", "N.D"]

In [1099]:
# Read file
filename = 'F10 Monitoramento da ETE Unisinos 2015'
field = "PTEL"
xls = pd.ExcelFile(f'./Modified/{filename}.xls')
df = pd.read_excel(xls, field, header=2, usecols="A:J", skipfooter=19, na_values=null_dict)

# Clean data
aux = df.T.reset_index()
colnames = aux.iloc[0, :].tolist()
aux.columns = colnames
aux.drop(labels=[0, 1, 2], axis=0, inplace=True)
# # aux.drop(aux.tail(0).index, inplace=True)
df = aux
# name = df.iloc[0,0]
# rename = [name for value in df[df.columns[0]].values]
# df[df.columns[0]] = rename
# df['Data'] = df['Data'].astype('datetime64')

df

,Parâmetros,Data,Alumínio,Cobre Total,Cromo Total,Manganês Total,Prata Total
3,LCVMat,2015-01-01 00:00:00,860,50,80,70,30
4,ANAMB,2015-06-01 00:00:00,60,40,30,12200,< 10
5,QUÍMICA (Bruto) ENTRADA-PTEL interna,2015-07-01 00:00:00,34500,65800,43600,7920,< 10
6,QUÍMICA (Tratado)\nSAÍDA-PTEL interna,2015-07-01 00:00:00,190,690,80,20,10
7,MEFIS,2015-09-01 00:00:00,3680,NaN,120,790,< 10
8,ANAMB.1,2015-10-01 00:00:00,3080,280,20,1270,30
9,SANEAMB,2015-11-01 00:00:00,2210,NaN,26.8,760,NaN

In [1074]:
field = field.replace(" ", "_")
field = field.lower()
year = filename.split()[-1:][0].split(".")[0]
df.to_csv(f"./Dataset/{field}_{year}.csv", encoding='utf8', index=False)
copy2("extractor.ipynb", f"./Logs/{field}_{year}.ipynb")