In [1]:
import numpy as np 
import pandas as pd 
from os import listdir
from shutil import copy2 

# Pandas setup
pd.set_option('display.max_columns', 1000)
pd.set_option('display.max_rows', 1000) 
pd.set_option('display.max_colwidth', -1)

In [2]:
path = "./Dataset/"
word = "toda_consema_2"
archives = listdir(path) 

matches = [value for value in archives if word in value]
matches = sorted(matches)
matches

['toda_consema_2013.csv',
 'toda_consema_2014.csv',
 'toda_consema_2015.csv',
 'toda_consema_2016.csv',
 'toda_consema_2017.csv',
 'toda_consema_2018.csv',
 'toda_consema_2019.csv']

In [15]:
df = pd.DataFrame()
for i in range(0, len(matches) - 1):
    df_1 = pd.read_csv(path + matches[i], encoding='utf8')
    df_2 = pd.read_csv(path + matches[i + 1], encoding='utf8')
    partial = df_1.append(df_2)
    df = df.append(partial)

df

,PARÂMETROS,Data,Alumínio Total,Arsênio Total,Bário Total,Boro Total,Cádmio Total,Chumbo Total,Cianeto Total,Cobalto Total,Cobre Total,Cromo Total,Cromo Hexavalente,DBO,DQO,Estanho Total,Fenóis Total,Ferro Total,Fósforo Total,Fluoreto,Lítio Total,Manganês Total,Mercúrio,Molibdênio Total,Níquel Total,Nitrogênio Amoniacal,Nitrogênio Total Kjeldahl,Coliformes Termotolerantes,Prata Total,Mercúrio Total,Cianeto,Índice de Fenóis,Nitrogênio Total,Fenol
0,P1,2012-03-23,0.531,NaN,0.034,NaN,NaN,NaN,NaN,NaN,0.024,1050,0.001,NaN,280,734,NaN,0.019,2.11,0.041,0.003,0.125,0.043,0.006,0.003,73.0,NaN,1011200.0,NaN,NaN,NaN,NaN,NaN,NaN
1,P2/P6,2012-03-23,1.840,NaN,0.012,59,0.009,NaN,NaN,0.019,4.04,200,0.017,NaN,32,95.1,NaN,0.034,0.17,0.581,0.042,4.400,0.909,7.2,NaN,69.5,NaN,435200.0,NaN,NaN,NaN,NaN,NaN,NaN
2,P1,2012-11-05,0.230,NaN,0.028,0.093,NaN,NaN,NaN,0.001,0.022,295,0.004,NaN,290,750,NaN,0.032,2.22,NaN,NaN,0.181,NaN,NaN,0.003,82.1,NaN,111990.0,NaN,NaN,NaN,NaN,NaN,NaN
3,P2/P6,2012-11-05,1.040,0.023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,140,0.01,NaN,92,261,NaN,0.021,7.03,0.068,NaN,0.070,NaN,NaN,0.005,83.8,NaN,98040.0,NaN,NaN,NaN,NaN,NaN,NaN
4,P1,2012-09-24,2.030,NaN,0.074,1.2,NaN,NaN,NaN,0.002,0.017,49,0.004,NaN,86,237,NaN,NaN,7.31,NaN,0.002,0.286,NaN,0.002,NaN,22.6,NaN,292400.0,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df.to_csv(f"./Merged/{word}.csv", encoding='utf8', index=False)
copy2("cleaner.ipynb", f"./Logs/{word}.ipynb")

'./Logs/surfactantes.ipynb'