In [1]:
import numpy as np 
import pandas as pd 
from os import listdir
from shutil import copy2 

# Pandas setup
pd.set_option('display.max_columns', 1000)
pd.set_option('display.max_rows', 1000) 
pd.set_option('display.max_colwidth', -1)

In [2]:
path = "./Tidy/"
archives = sorted(listdir(path))
archives

['Cor_verdadeira.csv',
 'DBO.csv',
 'DQO.csv',
 'acidez.csv',
 'alcalinidade.csv',
 'coliformes.csv',
 'compostagem.csv',
 'fosforo.csv',
 'leito_de_secagem.csv',
 'nitrogênio.csv',
 'pH.csv',
 'ptel.csv',
 'surfactantes.csv',
 'sólidos.csv',
 'toda_consema.csv',
 'toda_consema_2.csv',
 'toda_consema_P7.csv',
 'óleos.csv']

In [19]:
archives[5]

'coliformes.csv'

In [21]:
name = archives[5].split(".")[0]

df = pd.read_csv(path + name + ".csv", encoding='utf8')
columns = df.columns
new_columns = [x.split()[0] for x in columns] 
df.columns = new_columns
df.drop(columns=["OBSERVAÇÕES", "LABORATÓRIO", "P1/P2"], inplace=True)
df.rename(columns={"P2/P6": "P2"}, inplace=True)
# df["ENTIDADE"] = "Reator"
df.head()

         DATA         P1        P2        P3        P4      P5
0  2013-01-07  241960.0   29090.0   23590.0   198630.0  100.0
1  2013-02-05  613100.0   25900.0   6200.0    214300.0  4100.0
2  2013-03-05  2419600.0  36400.0   2650.0    241960.0  2780.0
3  2013-04-02  241960.0   92080.0   2160.0    241960.0  250.0
4  2013-05-07  1299700.0  104620.0  141360.0  241960.0  3840.0

In [23]:
transposed = df.T
transposed = transposed.reset_index()
transposed.columns = transposed.values[0]
transposed.rename(columns={"DATA": "ENTIDADE"}, inplace=True)
transposed.drop(axis=0, index=[0], inplace=True)
transposed = transposed.melt(id_vars=['ENTIDADE'])
transposed.rename(columns={"variable": "DATA", "value": name}, inplace=True)
df = transposed
df.head()

  ENTIDADE        DATA coliformes
0  P1       2013-01-07  241960
1  P2       2013-01-07  29090
2  P3       2013-01-07  23590
3  P4       2013-01-07  198630
4  P5       2013-01-07  100

In [17]:
df.to_csv(f"./Normalized/{name}.csv", encoding='utf8', index=False)
copy2("explorer.ipynb", f"./Normlogs/{name}.ipynb")

'./Normlogs/alcalinidade.ipynb'