In [1]:
import numpy as np 
import pandas as pd 
from os import listdir
from shutil import copy2 

# Pandas setup
pd.set_option('display.max_columns', 1000)
pd.set_option('display.max_rows', 1000) 
pd.set_option('display.max_colwidth', -1)

In [2]:
path = "./Tidy/"
archives = sorted(listdir(path))
archives

['Cor_verdadeira.csv',
 'DBO.csv',
 'DQO.csv',
 'acidez.csv',
 'alcalinidade.csv',
 'coliformes.csv',
 'compostagem.csv',
 'fosforo.csv',
 'leito_de_secagem.csv',
 'nitrogênio.csv',
 'pH.csv',
 'ptel.csv',
 'surfactantes.csv',
 'sólidos.csv',
 'toda_consema.csv',
 'toda_consema_2.csv',
 'toda_consema_P7.csv',
 'óleos.csv']

In [46]:
name = archives[0].split(".")[0]

df = pd.read_csv(path + name + ".csv", encoding='utf8')
columns = df.columns
new_columns = [x.split()[0] for x in columns] 
df.columns = new_columns
df.drop(columns=["OBSERVAÇÕES", "LABORATÓRIO", "TODA"], inplace=True)
df.head()

         DATA       P1     P2     P3
0  2013-01-07  330.0    88.0   56.0
1  2013-02-05  140.0    74.0  NaN
2  2013-03-05 NaN      NaN    NaN
3  2013-04-02  1750.0   290.0  104.0
4  2013-05-07  10540.0  182.0  189.0

In [47]:
transposed = df.T
transposed = transposed.reset_index()
transposed.columns = transposed.values[0]
transposed.rename(columns={"DATA": "ENTIDADE"}, inplace=True)
transposed.drop(axis=0, index=[0], inplace=True)
transposed = transposed.melt(id_vars=['ENTIDADE'])
transposed.rename(columns={"variable": "DATA", "value": name}, inplace=True)
df = transposed
df.head()

  ENTIDADE        DATA Cor_verdadeira
0  P1       2013-01-07  330
1  P2       2013-01-07  88
2  P3       2013-01-07  56
3  P1       2013-02-05  140
4  P2       2013-02-05  74

In [31]:
df.to_csv(f"./Normalized/{name}.csv", encoding='utf8', index=False)
copy2("explorer.ipynb", f"./Normlogs/{name}.ipynb")

'./Normlogs/DQO.ipynb'