In [1]:
import numpy as np 
import pandas as pd 
from os import listdir
from shutil import copy2 

# Pandas setup
pd.set_option('display.max_columns', 1000)
pd.set_option('display.max_rows', 1000) 
pd.set_option('display.max_colwidth', -1)

In [2]:
path = "./Tidy/"
archives = sorted(listdir(path))
archives

['Cor_verdadeira.csv',
 'DBO.csv',
 'DQO.csv',
 'acidez.csv',
 'alcalinidade.csv',
 'coliformes.csv',
 'compostagem.csv',
 'fosforo.csv',
 'leito_de_secagem.csv',
 'nitrogênio.csv',
 'pH.csv',
 'ptel.csv',
 'surfactantes.csv',
 'sólidos.csv',
 'toda_consema.csv',
 'toda_consema_2.csv',
 'toda_consema_P7.csv',
 'óleos.csv']

In [59]:
name = archives[1].split(".")[0]

df = pd.read_csv(path + name + ".csv", encoding='utf8')
columns = df.columns
new_columns = [x.split()[0] for x in columns] 
df.columns = new_columns
df.drop(columns=["OBSERVAÇÕES", "Resultado", "LAB."], inplace=True)
df.head()

        DATAS     P1    Pb    Pc    Pd    P2    P3     P4    P5  P7
0  2013-01-15 NaN    NaN   NaN   NaN   NaN   NaN   NaN    NaN   NaN
1  2013-02-14  30.0   19.0  15.0  10.0  34.0  3.6   16.0   2.8  NaN
2  2013-03-06  116.0  59.0  45.0  22.0  16.0  11.2  236.0  1.2  NaN
3  2013-04-03  168.0  39.0  32.0  9.0   19.0  5.2   160.0  6.8  NaN
4  2013-05-08  248.0  82.0  54.0  22.0  24.0  13.2  136.0  21.2 NaN

In [60]:
transposed = df.T
transposed = transposed.reset_index()
transposed.columns = transposed.values[0]
transposed.rename(columns={"DATAS": "ENTIDADE"}, inplace=True)
transposed.drop(axis=0, index=[0], inplace=True)
transposed = transposed.melt(id_vars=['ENTIDADE'])
transposed.rename(columns={"variable": "DATA", "value": name}, inplace=True)
df = transposed
df.head()

  ENTIDADE        DATA  DBO
0  P1       2013-01-15  NaN
1  Pb       2013-01-15  NaN
2  Pc       2013-01-15  NaN
3  Pd       2013-01-15  NaN
4  P2       2013-01-15  NaN

In [48]:
df.to_csv(f"./Normalized/{name}.csv", encoding='utf8', index=False)
copy2("explorer.ipynb", f"./Normlogs/{name}.ipynb")

'./Normlogs/Cor_verdadeira.ipynb'