In [1]:
import numpy as np 
import pandas as pd 
from os import listdir
from shutil import copy2 

# Pandas setup
pd.set_option('display.max_columns', 1000)
pd.set_option('display.max_rows', 1000) 
pd.set_option('display.max_colwidth', -1)

In [2]:
path = "./Tidy/"
archives = sorted(listdir(path))
archives

['Cor_verdadeira.csv',
 'DBO.csv',
 'DQO.csv',
 'acidez.csv',
 'alcalinidade.csv',
 'coliformes.csv',
 'compostagem.csv',
 'fosforo.csv',
 'leito_de_secagem.csv',
 'nitrogênio.csv',
 'pH.csv',
 'ptel.csv',
 'surfactantes.csv',
 'sólidos.csv',
 'toda_consema.csv',
 'toda_consema_2.csv',
 'toda_consema_P7.csv',
 'óleos.csv']

In [3]:
archives[3]

'acidez.csv'

In [6]:
name = archives[2].split(".")[0]

df = pd.read_csv(path + name + ".csv", encoding='utf8')
columns = df.columns
new_columns = [x.split()[0] for x in columns] 
df.columns = new_columns
df.drop(columns=["OBSERVAÇÕES", "Resultado", "LAB."], inplace=True)
df.head()

        DATAS     P1     Pb     Pc    Pd     P2    P3     P4    P5  P7
0  2013-01-22  40.3   38.2   17.8   16.5  9.3    18.0  78.4   14.2 NaN
1  2013-02-14  100.7  39.9   89.5   19.5  116.2  20.8  40.3   18.9 NaN
2  2013-03-06  242.8  99.6   46.1   40.0  4.1    26.3  333.7  18.6 NaN
3  2013-04-03  359.5  89.9   51.8   38.1  41.1   20.3  230.1  23.3 NaN
4  2013-05-08  356.2  134.8  100.4  64.1  42.6   55.3  470.4  23.5 NaN

In [7]:
transposed = df.T
transposed = transposed.reset_index()
transposed.columns = transposed.values[0]
transposed.rename(columns={"DATAS": "ENTIDADE"}, inplace=True)
transposed.drop(axis=0, index=[0], inplace=True)
transposed = transposed.melt(id_vars=['ENTIDADE'])
transposed.rename(columns={"variable": "DATA", "value": name}, inplace=True)
df = transposed
df.head()

  ENTIDADE        DATA   DQO
0  P1       2013-01-22  40.3
1  Pb       2013-01-22  38.2
2  Pc       2013-01-22  17.8
3  Pd       2013-01-22  16.5
4  P2       2013-01-22  9.3

In [64]:
df.to_csv(f"./Normalized/{name}.csv", encoding='utf8', index=False)
copy2("explorer.ipynb", f"./Normlogs/{name}.ipynb")

'./Normlogs/DQO.ipynb'