In [2]:
import numpy as np 
import pandas as pd 
from os import listdir
from shutil import copy2 

# Pandas setup
pd.set_option('display.max_columns', 1000)
pd.set_option('display.max_rows', 1000) 
pd.set_option('display.max_colwidth', -1)

In [3]:
path = "./Tidy/"
archives = sorted(listdir(path))
archives

['Cor_verdadeira.csv',
 'DBO.csv',
 'DQO.csv',
 'acidez.csv',
 'alcalinidade.csv',
 'coliformes.csv',
 'compostagem.csv',
 'fosforo.csv',
 'leito_de_secagem.csv',
 'nitrogênio.csv',
 'pH.csv',
 'ptel.csv',
 'surfactantes.csv',
 'sólidos.csv',
 'toda_consema.csv',
 'toda_consema_2.csv',
 'toda_consema_P7.csv',
 'óleos.csv']

In [4]:
archives[7]

'fosforo.csv'

In [10]:
name = archives[7].split(".")[0]

df = pd.read_csv(path + name + ".csv", encoding='utf8')
df.head()

,DATA DA COLETA,P1 - Entrada ETE,P2 / P6 - Saída da ETE,ANAL. AMB.,OBSERVAÇÕES,P7 - Rede Pluvial (trimestral)
0,2013-01-22,1.0,3.1,X,NaN,NaN
1,2013-02-05,1.7,2.6,X,NaN,NaN
2,2013-03-12,2.4,5.9,x,NaN,NaN
3,2013-05-14,7.1,7.3,x,Coleta realizada em 15/05,NaN
4,2013-06-11,5.9,6.1,x,NaN,NaN

In [11]:
columns = df.columns
new_columns = [x.split()[0] for x in columns] 
df.columns = new_columns
df.drop(columns=["OBSERVAÇÕES", "ANAL."], inplace=True)
# df.rename(columns={"PORCENTAGEM": "PORCENTAGEM_SÓLIDOS", "SÓLIDOS": "SÓLIDOS_VOLÁTEIS"}, inplace=True)
# df["ENTIDADE"] = ""
df.head()

         DATA   P1   P2  P7
0  2013-01-22  1.0  3.1 NaN
1  2013-02-05  1.7  2.6 NaN
2  2013-03-12  2.4  5.9 NaN
3  2013-05-14  7.1  7.3 NaN
4  2013-06-11  5.9  6.1 NaN

In [12]:
transposed = df.T
transposed = transposed.reset_index()
transposed.columns = transposed.values[0]
transposed.rename(columns={"DATA": "ENTIDADE"}, inplace=True)
transposed.drop(axis=0, index=[0], inplace=True)
transposed = transposed.melt(id_vars=['ENTIDADE'])
transposed.rename(columns={"variable": "DATA", "value": name}, inplace=True)
df = transposed
df.head()

  ENTIDADE        DATA fosforo
0  P1       2013-01-22  1
1  P2       2013-01-22  3.1
2  P7       2013-01-22  NaN
3  P1       2013-02-05  1.7
4  P2       2013-02-05  2.6

In [33]:
df.to_csv(f"./Normalized/{name}.csv", encoding='utf8', index=False)
copy2("explorer.ipynb", f"./Normlogs/{name}.ipynb")

'./Normlogs/compostagem.ipynb'