In [2]:
import numpy as np 
import pandas as pd 
from os import listdir
from shutil import copy2 

# Pandas setup
pd.set_option('display.max_columns', 1000)
pd.set_option('display.max_rows', 1000) 
pd.set_option('display.max_colwidth', -1)

In [3]:
path = "./Tidy/"
archives = sorted(listdir(path))
archives

['Cor_verdadeira.csv',
 'DBO.csv',
 'DQO.csv',
 'acidez.csv',
 'alcalinidade.csv',
 'coliformes.csv',
 'compostagem.csv',
 'fosforo.csv',
 'leito_de_secagem.csv',
 'nitrogênio.csv',
 'pH.csv',
 'ptel.csv',
 'surfactantes.csv',
 'sólidos.csv',
 'toda_consema.csv',
 'toda_consema_2.csv',
 'toda_consema_P7.csv',
 'óleos.csv']

In [18]:
archives[8]

'leito_de_secagem.csv'

In [20]:
name = archives[8].split(".")[0]

df = pd.read_csv(path + name + ".csv", encoding='utf8')
df.head()

,DATA DA COLETA,UMIDADE % p/p,ALUMÍNIO (mg/kg),COBRE (mg/kg),CROMO (mg/kg),MANGANÊS (mg/kg),NÍQUEL (mg/kg),LABORATÓRIO ALAC,OBSERVAÇÕES,PORCENTAGEM DE SÓLIDOS % p/p,SÓLIDOS VOLÁTEIS % p/p,LABORATÓRIO BIOAGRI,COMPOSTOS ORGÂNICOS VOLÁTEIS (µg/kg)
0,2013-02-05,22.7,16994.0,249.0,0.10,44.20,17.20,x,NaN,NaN,NaN,NaN,NaN
1,2013-05-07,71.2,2109.0,39.4,9.44,62.10,7.42,x,NaN,NaN,NaN,NaN,NaN
2,2013-08-06,74.8,8759.0,230.0,35.80,138.00,75.70,x,NaN,NaN,NaN,NaN,NaN
3,2013-11-05,76.3,1176.0,5104.0,3.04,4.91,22.40,x,NaN,NaN,NaN,NaN,NaN
4,2014-02-05,63.8,1945.0,32.1,11.70,16.00,5.04,x,NaN,NaN,NaN,NaN,NaN

In [21]:
columns = df.columns
new_columns = [x.split()[0] for x in columns] 
df.columns = new_columns
df.drop(columns=["OBSERVAÇÕES", "LABORATÓRIO"], inplace=True)
df.rename(columns={"PORCENTAGEM": "PORCENTAGEM_SÓLIDOS", "SÓLIDOS": "SÓLIDOS_VOLÁTEIS"}, inplace=True)
df["ENTIDADE"] = name
df.head()

,DATA,UMIDADE,ALUMÍNIO,COBRE,CROMO,MANGANÊS,NÍQUEL,PORCENTAGEM_SÓLIDOS,SÓLIDOS_VOLÁTEIS,COMPOSTOS,ENTIDADE
0,2013-02-05,22.7,16994.0,249.0,0.10,44.20,17.20,NaN,NaN,NaN,leito_de_secagem
1,2013-05-07,71.2,2109.0,39.4,9.44,62.10,7.42,NaN,NaN,NaN,leito_de_secagem
2,2013-08-06,74.8,8759.0,230.0,35.80,138.00,75.70,NaN,NaN,NaN,leito_de_secagem
3,2013-11-05,76.3,1176.0,5104.0,3.04,4.91,22.40,NaN,NaN,NaN,leito_de_secagem
4,2014-02-05,63.8,1945.0,32.1,11.70,16.00,5.04,NaN,NaN,NaN,leito_de_secagem

In [12]:
# transposed = df.T
# transposed = transposed.reset_index()
# transposed.columns = transposed.values[0]
# transposed.rename(columns={"DATA": "ENTIDADE"}, inplace=True)
# transposed.drop(axis=0, index=[0], inplace=True)
# transposed = transposed.melt(id_vars=['ENTIDADE'])
# transposed.rename(columns={"variable": "DATA", "value": name}, inplace=True)
# df = transposed
# df.head()

  ENTIDADE        DATA fosforo
0  P1       2013-01-22  1
1  P2       2013-01-22  3.1
2  P7       2013-01-22  NaN
3  P1       2013-02-05  1.7
4  P2       2013-02-05  2.6

In [13]:
df.to_csv(f"./Normalized/{name}.csv", encoding='utf8', index=False)
copy2("explorer.ipynb", f"./Normlogs/{name}.ipynb")

'./Normlogs/fosforo.ipynb'