In [2]:
import numpy as np 
import pandas as pd 
from os import listdir
from shutil import copy2 

# Pandas setup
pd.set_option('display.max_columns', 1000)
pd.set_option('display.max_rows', 1000) 
pd.set_option('display.max_colwidth', -1)

In [3]:
path = "./Tidy/"
archives = sorted(listdir(path))
archives

['Cor_verdadeira.csv',
 'DBO.csv',
 'DQO.csv',
 'acidez.csv',
 'alcalinidade.csv',
 'coliformes.csv',
 'compostagem.csv',
 'fosforo.csv',
 'leito_de_secagem.csv',
 'nitrogênio.csv',
 'pH.csv',
 'ptel.csv',
 'surfactantes.csv',
 'sólidos.csv',
 'toda_consema.csv',
 'toda_consema_2.csv',
 'toda_consema_P7.csv',
 'óleos.csv']

In [23]:
archives[9]

'nitrogênio.csv'

In [41]:
name = archives[9].split(".")[0]

df = pd.read_csv(path + name + ".csv", encoding='utf8')
df.head()

,DATA DA COLETA,P1 - Entrada ETE,P2/P6- Saída da ETE,P1 - Média mês,P2/P6 - Média mês,ANAL. AMB.,OBSERVAÇÕES,P7 - Rede Pluvial (trimestral),Ponto de coleta Saída (P2 ou P6)
0,2013-01-08,4.5,8.6,6.700,10.700,x,Coletas no mês de janeiro. foram adiantadas para estes dias. devido as datas do cronograma estarem agendadas nas férias da laboratorista.,NaN,NaN
1,2013-01-09,8.9,12.8,NaN,NaN,x,NaN,NaN,NaN
2,2013-02-05,12.4,17.3,24.425,14.425,x,NaN,NaN,NaN
3,2013-02-14,15.6,4.7,NaN,NaN,x,NaN,NaN,NaN
4,2013-02-19,17.5,6.4,NaN,NaN,x,NaN,NaN,NaN

In [42]:
df.drop(columns=["P1 - Média mês", "P2/P6 - Média mês"], inplace=True)
columns = df.columns
new_columns = [x.split()[0] for x in columns] 
df.columns = new_columns
df.drop(columns=["OBSERVAÇÕES", "ANAL.", "Ponto"], inplace=True)
# df.rename(columns={"PORCENTAGEM": "PORCENTAGEM_SÓLIDOS", "SÓLIDOS": "SÓLIDOS_VOLÁTEIS"}, inplace=True)
df.rename(columns={"P2/P6-": "P2"}, inplace=True)
# df["ENTIDADE"] = name
df.head()

         DATA    P1    P2  P7
0  2013-01-08  4.5   8.6  NaN
1  2013-01-09  8.9   12.8 NaN
2  2013-02-05  12.4  17.3 NaN
3  2013-02-14  15.6  4.7  NaN
4  2013-02-19  17.5  6.4  NaN

In [43]:
transposed = df.T
transposed = transposed.reset_index()
transposed.columns = transposed.values[0]
transposed.rename(columns={"DATA": "ENTIDADE"}, inplace=True)
transposed.drop(axis=0, index=[0], inplace=True)
transposed = transposed.melt(id_vars=['ENTIDADE'])
transposed.rename(columns={"variable": "DATA", "value": name}, inplace=True)
df = transposed
df.head()

  ENTIDADE        DATA nitrogênio
0  P1       2013-01-08  4.5
1  P2       2013-01-08  8.6
2  P7       2013-01-08  NaN
3  P1       2013-01-09  8.9
4  P2       2013-01-09  12.8

In [22]:
df.to_csv(f"./Normalized/{name}.csv", encoding='utf8', index=False)
copy2("explorer.ipynb", f"./Normlogs/{name}.ipynb")

'./Normlogs/leito_de_secagem.ipynb'