In [2]:
import numpy as np 
import pandas as pd 
from os import listdir
from shutil import copy2 

# Pandas setup
pd.set_option('display.max_columns', 1000)
pd.set_option('display.max_rows', 1000) 
pd.set_option('display.max_colwidth', -1)

In [3]:
path = "./Tidy/"
archives = sorted(listdir(path))
archives

['Cor_verdadeira.csv',
 'DBO.csv',
 'DQO.csv',
 'acidez.csv',
 'alcalinidade.csv',
 'coliformes.csv',
 'compostagem.csv',
 'fosforo.csv',
 'leito_de_secagem.csv',
 'nitrogênio.csv',
 'pH.csv',
 'ptel.csv',
 'surfactantes.csv',
 'sólidos.csv',
 'toda_consema.csv',
 'toda_consema_2.csv',
 'toda_consema_P7.csv',
 'óleos.csv']

In [23]:
archives[9]

'nitrogênio.csv'

In [45]:
name = archives[10].split(".")[0]

df = pd.read_csv(path + name + ".csv", encoding='utf8')
df.head()

,DATAS DAS COLETAS,P1 - Entrada ETE,Pb - Saída do UASB Entrada do CBR,Pc - Saída do CBR Entrada dos decantadores,Pd - Saída dos decantadores Entrada no sistema de ozonização,P2/P6 - Saída da ETE,P3 - Arroio São João,P4 - Canal coleta esgoto Vila Otacília,P5 - Vertedor do Lago,LAB. ANÁLISES AMBIENTAIS,OBSERVAÇÕES,P7 - Rede Pluvial (Trimestral)
0,2013-01-09,6.1,6.5,6.7,6.8,6.9,6.9,6.4,6.8,x,NaN,NaN
1,2013-02-14,7.1,6.8,6.2,6.6,6.7,7.1,7.0,7.4,x,NaN,NaN
2,2013-03-06,7.4,7.8,7.7,7.9,7.9,8.1,8.8,9.0,x,NaN,NaN
3,2013-04-03,7.2,7.4,6.4,7.4,7.2,7.4,7.4,8.5,x,NaN,NaN
4,2013-05-08,6.9,7.2,6.8,7.0,7.1,7.3,7.0,7.6,x,NaN,NaN

In [46]:
# df.drop(columns=["P1 - Média mês", "P2/P6 - Média mês"], inplace=True)
columns = df.columns
new_columns = [x.split()[0] for x in columns] 
df.columns = new_columns
df.drop(columns=["OBSERVAÇÕES", "LAB."], inplace=True)
# df.rename(columns={"PORCENTAGEM": "PORCENTAGEM_SÓLIDOS", "SÓLIDOS": "SÓLIDOS_VOLÁTEIS"}, inplace=True)
df.rename(columns={"P2/P6": "P2"}, inplace=True)
# df["ENTIDADE"] = name
df.head()

        DATAS   P1   Pb   Pc   Pd   P2   P3   P4   P5   P7
0  2013-01-09  6.1  6.5  6.7  6.8  6.9  6.9  6.4  6.8  NaN
1  2013-02-14  7.1  6.8  6.2  6.6  6.7  7.1  7.0  7.4  NaN
2  2013-03-06  7.4  7.8  7.7  7.9  7.9  8.1  8.8  9.0  NaN
3  2013-04-03  7.2  7.4  6.4  7.4  7.2  7.4  7.4  8.5  NaN
4  2013-05-08  6.9  7.2  6.8  7.0  7.1  7.3  7.0  7.6  NaN

In [48]:
transposed = df.T
transposed = transposed.reset_index()
transposed.columns = transposed.values[0]
transposed.rename(columns={"DATAS": "ENTIDADE"}, inplace=True)
transposed.drop(axis=0, index=[0], inplace=True)
transposed = transposed.melt(id_vars=['ENTIDADE'])
transposed.rename(columns={"variable": "DATA", "value": name}, inplace=True)
df = transposed
df.head()

  ENTIDADE        DATA   pH
0  P1       2013-01-09  6.1
1  Pb       2013-01-09  6.5
2  Pc       2013-01-09  6.7
3  Pd       2013-01-09  6.8
4  P2       2013-01-09  6.9

In [44]:
df.to_csv(f"./Normalized/{name}.csv", encoding='utf8', index=False)
copy2("explorer.ipynb", f"./Normlogs/{name}.ipynb")

'./Normlogs/nitrogênio.ipynb'