In [1]:
import numpy as np 
import pandas as pd 
from os import listdir
from shutil import copy2 

# Pandas setup
pd.set_option('display.max_columns', 1000)
pd.set_option('display.max_rows', 1000) 
pd.set_option('display.max_colwidth', -1)

In [2]:
path = "./Tidy/"
archives = sorted(listdir(path))
archives

['Cor_verdadeira.csv',
 'DBO.csv',
 'DQO.csv',
 'acidez.csv',
 'alcalinidade.csv',
 'coliformes.csv',
 'compostagem.csv',
 'fosforo.csv',
 'leito_de_secagem.csv',
 'nitrogênio.csv',
 'pH.csv',
 'ptel.csv',
 'surfactantes.csv',
 'sólidos.csv',
 'toda_consema.csv',
 'toda_consema_2.csv',
 'toda_consema_P7.csv',
 'óleos.csv']

In [3]:
archives[11]

'ptel.csv'

In [4]:
name = archives[11].split(".")[0]

df = pd.read_csv(path + name + ".csv", encoding='utf8')
df.head()

,Parâmetros,Data,Alumínio Total,Cobre Total,Cromo Total,Manganês Total,Prata Total
0,ANAMB,2013-02-05 00:00:00,2.04,0.107,3.380,0.179,0.064
1,SANEAMB,2013-04-03 00:00:00,0.71,0.027,0.077,1.060,0.004
2,SANEAMB.1,2013-05-08 00:00:00,3.93,0.078,4.030,14.600,0.055
3,ANAMB.1,2013-07-03 00:00:00,5.59,0.138,0.234,5.700,0.042
4,ITT FOSSIL,2013-08-05 00:00:00,6.29,0.009,0.026,0.677,0.015

In [5]:
# df.drop(columns=["P1 - Média mês", "P2/P6 - Média mês"], inplace=True)
columns = df.columns
new_columns = [x.split()[0] for x in columns] 
df.columns = new_columns
# df.drop(columns=["OBSERVAÇÕES", "LAB."], inplace=True)
# df.rename(columns={"PORCENTAGEM": "PORCENTAGEM_SÓLIDOS", "SÓLIDOS": "SÓLIDOS_VOLÁTEIS"}, inplace=True)
df.rename(columns={"Parâmetros": "ENTIDADE"}, inplace=True)
df.columns = [x.upper() for x in new_columns]
# df["ENTIDADE"] = name
df.head()

   PARÂMETROS                 DATA  ALUMÍNIO  COBRE  CROMO  MANGANÊS  PRATA
0  ANAMB       2013-02-05 00:00:00  2.04      0.107  3.380  0.179     0.064
1  SANEAMB     2013-04-03 00:00:00  0.71      0.027  0.077  1.060     0.004
2  SANEAMB.1   2013-05-08 00:00:00  3.93      0.078  4.030  14.600    0.055
3  ANAMB.1     2013-07-03 00:00:00  5.59      0.138  0.234  5.700     0.042
4  ITT FOSSIL  2013-08-05 00:00:00  6.29      0.009  0.026  0.677     0.015

In [48]:
# transposed = df.T
# transposed = transposed.reset_index()
# transposed.columns = transposed.values[0]
# transposed.rename(columns={"DATAS": "ENTIDADE"}, inplace=True)
# transposed.drop(axis=0, index=[0], inplace=True)
# transposed = transposed.melt(id_vars=['ENTIDADE'])
# transposed.rename(columns={"variable": "DATA", "value": name}, inplace=True)
# df = transposed
# df.head()

  ENTIDADE        DATA   pH
0  P1       2013-01-09  6.1
1  Pb       2013-01-09  6.5
2  Pc       2013-01-09  6.7
3  Pd       2013-01-09  6.8
4  P2       2013-01-09  6.9

In [49]:
df.to_csv(f"./Normalized/{name}.csv", encoding='utf8', index=False)
copy2("explorer.ipynb", f"./Normlogs/{name}.ipynb")

'./Normlogs/pH.ipynb'