In [1]:
import numpy as np 
import pandas as pd 
from os import listdir
from shutil import copy2 

# Pandas setup
pd.set_option('display.max_columns', 1000)
pd.set_option('display.max_rows', 1000) 
pd.set_option('display.max_colwidth', -1)

In [2]:
path = "./Tidy/"
archives = sorted(listdir(path))
archives

['Cor_verdadeira.csv',
 'DBO.csv',
 'DQO.csv',
 'acidez.csv',
 'alcalinidade.csv',
 'coliformes.csv',
 'compostagem.csv',
 'fosforo.csv',
 'leito_de_secagem.csv',
 'nitrogênio.csv',
 'pH.csv',
 'ptel.csv',
 'surfactantes.csv',
 'sólidos.csv',
 'toda_consema.csv',
 'toda_consema_2.csv',
 'toda_consema_P7.csv',
 'óleos.csv']

In [7]:
archives[12]

'surfactantes.csv'

In [14]:
name = archives[12].split(".")[0]

df = pd.read_csv(path + name + ".csv", encoding='utf8')
df.head()

,DATA DA COLETA,P1 - Entrada ETE,P2 / P6 - Saída da ETE,ANAL. AMB.,OBSERVAÇÕES,P7 - Rede Pluvial Portão A
0,2013-01-22,1.21,0.21,x,NaN,NaN
1,2013-02-05,0.70,0.31,x,NaN,NaN
2,2013-03-12,1.17,0.37,x,NaN,NaN
3,2013-04-09,NaN,NaN,x,Neste mês foi solicitado pela Prof. Luciana Gomes (CO) análises extras para Nitrogênio Amoniacal. pH e Alcalinidade Total então devido a grande demanda de análises que a laboratorista realiza não houve análise para este parâmetro.,NaN
4,2013-05-14,1.80,0.49,x,NaN,NaN

In [15]:
# df.drop(columns=["P1 - Média mês", "P2/P6 - Média mês"], inplace=True)
columns = df.columns
new_columns = [x.split()[0] for x in columns] 
df.columns = new_columns
df.drop(columns=["OBSERVAÇÕES", "ANAL."], inplace=True)
# df.rename(columns={"PORCENTAGEM": "PORCENTAGEM_SÓLIDOS", "SÓLIDOS": "SÓLIDOS_VOLÁTEIS"}, inplace=True)
# df.rename(columns={"Parâmetros": "ENTIDADE"}, inplace=True)
# df.columns = [x.upper() for x in new_columns]
# df["ENTIDADE"] = name
df.head()

         DATA    P1    P2  P7
0  2013-01-22  1.21  0.21 NaN
1  2013-02-05  0.70  0.31 NaN
2  2013-03-12  1.17  0.37 NaN
3  2013-04-09 NaN   NaN   NaN
4  2013-05-14  1.80  0.49 NaN

In [16]:
transposed = df.T
transposed = transposed.reset_index()
transposed.columns = transposed.values[0]
transposed.rename(columns={"DATA": "ENTIDADE"}, inplace=True)
transposed.drop(axis=0, index=[0], inplace=True)
transposed = transposed.melt(id_vars=['ENTIDADE'])
transposed.rename(columns={"variable": "DATA", "value": name}, inplace=True)
df = transposed
df.head()

  ENTIDADE        DATA surfactantes
0  P1       2013-01-22  1.21
1  P2       2013-01-22  0.21
2  P7       2013-01-22  NaN
3  P1       2013-02-05  0.7
4  P2       2013-02-05  0.31

In [6]:
df.to_csv(f"./Normalized/{name}.csv", encoding='utf8', index=False)
copy2("explorer.ipynb", f"./Normlogs/{name}.ipynb")

'./Normlogs/ptel.ipynb'