In [1]:
import numpy as np 
import pandas as pd 
from os import listdir
from shutil import copy2 

# Pandas setup
pd.set_option('display.max_columns', 1000)
pd.set_option('display.max_rows', 1000) 
pd.set_option('display.max_colwidth', -1)

In [2]:
path = "./Tidy/"
archives = sorted(listdir(path))
archives

['Cor_verdadeira.csv',
 'DBO.csv',
 'DQO.csv',
 'acidez.csv',
 'alcalinidade.csv',
 'coliformes.csv',
 'compostagem.csv',
 'fosforo.csv',
 'leito_de_secagem.csv',
 'nitrogênio.csv',
 'pH.csv',
 'ptel.csv',
 'surfactantes.csv',
 'sólidos.csv',
 'toda_consema.csv',
 'toda_consema_2.csv',
 'toda_consema_P7.csv',
 'óleos.csv']

In [31]:
archives[14]

'toda_consema.csv'

In [40]:
name = archives[14].split(".")[0]

df = pd.read_csv(path + name + ".csv", encoding='utf8')
df.rename(columns={"PARÂMETROS": "ENTIDADE"}, inplace=True)
df.ENTIDADE = df.ENTIDADE.map(lambda x: x.replace("P2/P6", "P2"))
df.head()

,ENTIDADE,Data,Alumínio Total,Arsênio Total,Bário Total,Boro Total,Cádmio Total,Chumbo Total,Cianeto Total,Cobalto Total,Cobre Total,Cromo Total,Cromo Hexavalente,DBO,DQO,Estanho Total,Fenóis Total,Ferro Total,Fósforo Total,Fluoreto,Lítio Total,Manganês Total,Mercúrio,Molibdênio Total,Níquel Total,Nitrogênio Amoniacal,Nitrogênio Total Kjeldahl,Coliformes Termotolerantes,Prata Total,Mercúrio Total,Cianeto,Índice de Fenóis,Nitrogênio Total,Fenol
0,P1,2012-03-23,0.531,NaN,0.034,NaN,NaN,NaN,NaN,NaN,0.024,1050.0,0.001,NaN,280.0,734.0,NaN,0.019,2.11,0.041,0.003,0.125,0.043,0.006,0.003,73.0,NaN,1011200.0,NaN,NaN,NaN,NaN,NaN,NaN
1,P2,2012-03-23,1.840,NaN,0.012,59.000,0.009,NaN,NaN,0.019,4.040,200.0,0.017,NaN,32.0,95.1,NaN,0.034,0.17,0.581,0.042,4.400,0.909,7.200,NaN,69.5,NaN,435200.0,NaN,NaN,NaN,NaN,NaN,NaN
2,P1,2012-11-05,0.230,NaN,0.028,0.093,NaN,NaN,NaN,0.001,0.022,295.0,0.004,NaN,290.0,750.0,NaN,0.032,2.22,NaN,NaN,0.181,NaN,NaN,0.003,82.1,NaN,111990.0,NaN,NaN,NaN,NaN,NaN,NaN
3,P2,2012-11-05,1.040,0.023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,140.0,0.010,NaN,92.0,261.0,NaN,0.021,7.03,0.068,NaN,0.070,NaN,NaN,0.005,83.8,NaN,98040.0,NaN,NaN,NaN,NaN,NaN,NaN
4,P1,2012-09-24,2.030,NaN,0.074,1.200,NaN,NaN,NaN,0.002,0.017,49.0,0.004,NaN,86.0,237.0,NaN,NaN,7.31,NaN,0.002,0.286,NaN,0.002,NaN,22.6,NaN,292400.0,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
columns = df.columns
columns = [x.replace("Total", "").strip() for x in columns]
columns = [" ".join(x.split()) for x in columns]
columns = [x.replace(" ", "_").upper() for x in columns]

In [42]:
# df.drop(columns=["P1 - Média mês", "P2/P6 - Média mês"], inplace=True)
# columns = df.columns
# new_columns = [x.split()[0] for x in columns] 
# df.columns = new_columns
df.columns = columns
# df.drop(columns=["OBSERVAÇÕES", "ANAL."], inplace=True)
# df.rename(columns={"PORCENTAGEM": "PORCENTAGEM_SÓLIDOS", "SÓLIDOS": "SÓLIDOS_VOLÁTEIS"}, inplace=True)
# df.rename(columns={"Parâmetros": "ENTIDADE"}, inplace=True)
# df.columns = [x.upper() for x in new_columns]
# df["ENTIDADE"] = name
df.head()

,ENTIDADE,DATA,ALUMÍNIO,ARSÊNIO,BÁRIO,BORO,CÁDMIO,CHUMBO,CIANETO,COBALTO,COBRE,CROMO,CROMO_HEXAVALENTE,DBO,DQO,ESTANHO,FENÓIS,FERRO,FÓSFORO,FLUORETO,LÍTIO,MANGANÊS,MERCÚRIO,MOLIBDÊNIO,NÍQUEL,NITROGÊNIO_AMONIACAL,NITROGÊNIO_KJELDAHL,COLIFORMES_TERMOTOLERANTES,PRATA,MERCÚRIO,CIANETO,ÍNDICE_DE_FENÓIS,NITROGÊNIO,FENOL
0,P1,2012-03-23,0.531,NaN,0.034,NaN,NaN,NaN,NaN,NaN,0.024,1050.0,0.001,NaN,280.0,734.0,NaN,0.019,2.11,0.041,0.003,0.125,0.043,0.006,0.003,73.0,NaN,1011200.0,NaN,NaN,NaN,NaN,NaN,NaN
1,P2,2012-03-23,1.840,NaN,0.012,59.000,0.009,NaN,NaN,0.019,4.040,200.0,0.017,NaN,32.0,95.1,NaN,0.034,0.17,0.581,0.042,4.400,0.909,7.200,NaN,69.5,NaN,435200.0,NaN,NaN,NaN,NaN,NaN,NaN
2,P1,2012-11-05,0.230,NaN,0.028,0.093,NaN,NaN,NaN,0.001,0.022,295.0,0.004,NaN,290.0,750.0,NaN,0.032,2.22,NaN,NaN,0.181,NaN,NaN,0.003,82.1,NaN,111990.0,NaN,NaN,NaN,NaN,NaN,NaN
3,P2,2012-11-05,1.040,0.023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,140.0,0.010,NaN,92.0,261.0,NaN,0.021,7.03,0.068,NaN,0.070,NaN,NaN,0.005,83.8,NaN,98040.0,NaN,NaN,NaN,NaN,NaN,NaN
4,P1,2012-09-24,2.030,NaN,0.074,1.200,NaN,NaN,NaN,0.002,0.017,49.0,0.004,NaN,86.0,237.0,NaN,NaN,7.31,NaN,0.002,0.286,NaN,0.002,NaN,22.6,NaN,292400.0,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
# transposed = df.T
# transposed = transposed.reset_index()
# transposed.columns = transposed.values[0]
# transposed.rename(columns={"DATA": "ENTIDADE"}, inplace=True)
# transposed.drop(axis=0, index=[0], inplace=True)
# transposed = transposed.melt(id_vars=['ENTIDADE'])
# transposed.rename(columns={"variable": "DATA", "value": name}, inplace=True)
# df = transposed
# df.head()

  ENTIDADE        DATA sólidos
0  P1       2013-01-22  NaN
1  Pb       2013-01-22  NaN
2  Pc       2013-01-22  NaN
3  Pd       2013-01-22  NaN
4  P2       2013-01-22  NaN

In [22]:
df.to_csv(f"./Normalized/{name}.csv", encoding='utf8', index=False)
copy2("explorer.ipynb", f"./Normlogs/{name}.ipynb")

'./Normlogs/sólidos.ipynb'