In [1]:
import numpy as np 
import pandas as pd 
from os import listdir
from shutil import copy2 

# Pandas setup
pd.set_option('display.max_columns', 1000)
pd.set_option('display.max_rows', 1000) 
pd.set_option('display.max_colwidth', -1)

In [2]:
path = "./Tidy/"
archives = sorted(listdir(path))
archives

['Cor_verdadeira.csv',
 'DBO.csv',
 'DQO.csv',
 'acidez.csv',
 'alcalinidade.csv',
 'coliformes.csv',
 'compostagem.csv',
 'fosforo.csv',
 'leito_de_secagem.csv',
 'nitrogênio.csv',
 'pH.csv',
 'ptel.csv',
 'surfactantes.csv',
 'sólidos.csv',
 'toda_consema.csv',
 'toda_consema_2.csv',
 'toda_consema_P7.csv',
 'óleos.csv']

In [46]:
archives[17]

'óleos.csv'

In [50]:
name = archives[17].split(".")[0]

df = pd.read_csv(path + name + ".csv", encoding='utf8')
# df.rename(columns={"PARÂMETROS": "ENTIDADE"}, inplace=True)
# df.ENTIDADE = df.ENTIDADE.map(lambda x: x.replace("P2/P6", "P2"))
df.head()

,DATA DA COLETA,P1 - Entrada ETE Unisinos,Pb - Saída do UASB Entrada do CBR,Pc - Saída do CBR Entrada dos decantadores,Pd - Saída dos decantadores Entrada no sistema de ozonização,P2 / P6 - Saída da ETE Unisinos,P3 - Arroio São João,P4 - Canal coleta esgoto Vila Otacília,P5 - Vertedor do Lago,ANAL. AMB.,OBSERVAÇÕES,P7 - Rede Pluvial (trimestral)
0,2013-01-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x,As análises de DBO. SS e OG não foram realizadas em janeiro devido as férias da técnica do Lab. de Análise Ambiental,NaN
1,2013-02-05,10.0,10.0,10.0,10.0,10.0,14.0,10.0,10.4,X,NaN,NaN
2,2013-03-12,19.4,10.0,10.0,10.0,15.6,12.2,14.8,10.0,X,NaN,NaN
3,2013-04-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,Neste mês foi solicitado pela Prof. Luciana Gomes (CO) análises extras para Nitrogênio Amoniacal. pH e Alcalinidade Total então devido a grande demanda de análises que a laboratorista realiza não houve análise para este parâmetro.,NaN
4,2013-05-14,19.1,27.1,14.7,15.9,10.0,18.2,34.5,20.8,X,NaN,NaN

In [51]:
# df.drop(columns=["P1 - Média mês", "P2/P6 - Média mês"], inplace=True)
columns = df.columns
new_columns = [x.split()[0] for x in columns] 
df.columns = new_columns
df.drop(columns=["OBSERVAÇÕES", "ANAL."], inplace=True)
# df.rename(columns={"PORCENTAGEM": "PORCENTAGEM_SÓLIDOS", "SÓLIDOS": "SÓLIDOS_VOLÁTEIS"}, inplace=True)
# df.rename(columns={"Parâmetros": "ENTIDADE"}, inplace=True)
# df.columns = [x.upper() for x in new_columns]
# df["ENTIDADE"] = name
df.head()

         DATA    P1    Pb    Pc    Pd    P2    P3    P4    P5  P7
0  2013-01-22 NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1  2013-02-05  10.0  10.0  10.0  10.0  10.0  14.0  10.0  10.4 NaN
2  2013-03-12  19.4  10.0  10.0  10.0  15.6  12.2  14.8  10.0 NaN
3  2013-04-09 NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4  2013-05-14  19.1  27.1  14.7  15.9  10.0  18.2  34.5  20.8 NaN

In [52]:
transposed = df.T
transposed = transposed.reset_index()
transposed.columns = transposed.values[0]
transposed.rename(columns={"DATA": "ENTIDADE"}, inplace=True)
transposed.drop(axis=0, index=[0], inplace=True)
transposed = transposed.melt(id_vars=['ENTIDADE'])
transposed.rename(columns={"variable": "DATA", "value": name}, inplace=True)
df = transposed
df.head()

  ENTIDADE        DATA óleos
0  P1       2013-01-22  NaN
1  Pb       2013-01-22  NaN
2  Pc       2013-01-22  NaN
3  Pd       2013-01-22  NaN
4  P2       2013-01-22  NaN

In [43]:
df.to_csv(f"./Normalized/{name}.csv", encoding='utf8', index=False)
copy2("explorer.ipynb", f"./Normlogs/{name}.ipynb")

'./Normlogs/toda_consema.ipynb'